*   {
    text-decoration: none;
}
#chicken{
    height: 200px;
}
#chicken2 {
    height: 200px;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}
#chicken3 {
    height:200px;
    float:right;
    margin-right: 17px;
    margin-top: 35px;
}
#sticky2    {
    height: 200px;
    position: sticky;
    top: 0px;
    width: 250px;
}
li {
    margin-top: 20px;
}

/* Whole page styles (everything is in <body> */
body {

    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    vertical-align: top;
}
#lchicken1{
    
    margin-left: 250px;
width: 800px;
height: 400px;
}
#lchicken2{
margin-left: 250px;
}
#lchicken3{
margin-right: 330px;
}

/* Styles for the <nav> section */
nav {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: rgb(173, 130, 130);
    border: solid;
    vertical-align: center  ;
    border-color: rgb(25, 6, 25);
    border-width: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
    margin-right:1px;
    padding-top: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    width: 1407px;
}
#topnav {
    display: flex;

}

.fnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;   
}

/* Styles for the <main> section */
main {
    display: flex;
    background-color: rgb(48, 54, 61);
    width: 1407px;
    height: 1800px;
    text-align: center;
    vertical-align: middle;
    border: solid;

    
}
#layout {
    width: 1400px;
}

/* Styles for the <article> sections */
article {
    display: flex;
    background-color: #a4991bde;
    width: 1300px;
    height: 780px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
img {
    height: 250px;
    padding: 10px;

}
aside {
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: black;
    background-color: rgb(144, 199, 238);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: middle;
    width: 200px;
    height: 800px;
}
/* id selector */

#chicken {
    display: flex;
    align-self: flex-start;
    margin-left: -180px;
    margin-top: 0px;
    padding-top: 10px;
}

.faside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#categories {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   margin-top: 20px;

} 
    
#main-description   {
    background-color: #389eca;
    width: 1407px;
    text-align: center;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -15px;
    margin-bottom: -15px;
    font-size: x-large;
    font-weight: bolder;
}

/* Grouping Selectors */
h2 {
    display: inline-block;
    background-color: #18954e85;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 1px;
    padding: 10px;
    width: 95%;
}

/* Styles for the <footer> section */
footer {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-bottom: 1px;
    background-color: rgba(7, 83, 138, 0.538);
    text-align: center;
    width: 1407px;
}